/* GLOBAL */
@import "./global/variables.scss";
@import "./global/mixins.scss";
@import "./global/fonts.scss";
@import "./global/animations.scss";
@import "./global/visually-hidden.scss";
@import "./global/global.scss";

/* BLOCKS */
@import "./blocks/button.scss";
@import "./blocks/page.scss";
@import "./blocks/page__body.scss";
@import "./blocks/title.scss";
@import "./blocks/main-header.scss";
@import "./blocks/logo.scss";
@import "./blocks/main-nav.scss";
@import "./blocks/main-page.scss";
@import "./blocks/preview.scss";
@import "./blocks/catalogs.scss";
@import "./blocks/advantages.scss";
@import "./blocks/product-effect.scss";
@import "./blocks/main-footer.scss";
@import "./blocks/social.scss";
@import "./blocks/academy-logo.scss";
@import "./blocks/product-selection.scss";
@import "./blocks/product-form.scss";
@import "./blocks/catalog-product.scss";
@import "./blocks/product-card.scss";
@import "./blocks/product-more.scss";
@import "./blocks/additional-product.scss";
@import "./blocks/main-container.scss"
