.academy-logo {
  &:hover .academy-logo__image {
    color: #68b738;
  }

  &:focus-within .academy-logo__image {
    color: #68b738;
  }

  &:active .academy-logo__text,
  &:active .academy-logo__image {
    opacity: 0.3;
  }
}

.academy-logo__link {
  text-decoration: none;
  padding-top: 5px;

  &:active .academy-logo__image {
    opacity: 0.3;
  }
}

.academy-logo__link--text {
  padding-top: 7px;
}

.academy-logo__link--image {
  padding-top: 0;
}

.academy-logo__text {
  font-size: 16px;
  line-height: 20px;
  font-family: $secondary-font;
  color: #444444;
}

.academy-logo__image {
  color: #666666;
}

@media (min-width: $tablet-width) {
  .academy-logo__text {
    margin-right: 23px;
  }
}

@media (min-width: $desktop-width) {
  .academy-logo__link {
    padding-top: 8px;
  }

  .academy-logo__link--image {
    padding-top: 0;
  }
}
