.academy-logo {
}

.academy-logo__link {
  text-decoration: none;
}

.academy-logo__text {
  font-size: 16px;
  line-height: 20px;
  font-family: $secondary-font;
  color: #444444;
}

.academy-logo__image {

}
