.catalog-product {
  width: 100%
}

.catalog-product__title-wrapper {
  width: 280px;
  padding: 27px 20px 40px;
  margin: 0 auto;
}

.catalog-product__title {
  margin: 0;
}

.catalog-product__item {
  width: 100%;
}

.catalog-product__list {
  @include list-style-none;

  &:last-child {
    border-bottom: 1px solid #ebebeb;
  }
}

@media (min-width: $tablet-width) {
  .catalog-product__title-wrapper {
    width: 708px;
    padding: 0 30px;
    padding-top: 68px;
  }

  .catalog-product__list {
    width: 708px;
    padding: 84px 30px 70px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 324px 324px;
    gap: 60px;

    &:last-child {
      border: none;
    }
  }
}

@media (min-width: $desktop-width) {
  .catalog-product__title-wrapper {
    width: 1220px;
    padding: 0 110px;
    padding-top: 70px;
  }

  .catalog-product__list {
    width: 1220px;
    padding: 84px 110px 76px;
    grid-template-columns: 245px 245px 245px 245px;
    gap: 63px 80px;
  }
}
