.catalogs {
  width: 280px;
  padding: 20px;
  margin: 0 auto;
}

.catalogs__list {
  @include list-style-none;
}

.catalogs__item {
  padding: 30px 21px 20px 20px;
  position: relative;
  background-color: #f2f2f2;

  &:not(:last-child) {
    margin-bottom: 20px;
  }
}


.catalogs__title {
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  margin: 0;
  margin-left: 70px;
  margin-bottom: 29px;

  &::before {
    content: "";
    position: absolute;
    top: 21px;
  }
}

.catalogs__title--slim {
  &::before {
    left: 20px;
    width: 50px;
    height: 53px;
    background-image: url("../../images/icons/stack.svg#cat-slim");
  }
}

.catalogs__title--pro {
  &::before {
    top: 25px;
    left: 13px;
    width: 67px;
    height: 50px;
    background-image: url("../../images/icons/stack.svg#cat-pro");
  }
}

.catalogs__text {
  font-family: $secondary-font;
  padding-bottom: 21px;
  margin-bottom: 19px;
  border-bottom: 1px solid #d9d9d9;
}

.catalogs__text--pro {
  padding-bottom: 22px;
}

.catalogs__link {
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: $title-color;
  text-decoration: none;
  position: relative;
  padding-right: 47px;


  &::after {
    content: "";
    position: absolute;
    width: 32px;
    height: 10px;
    bottom: 7px;
    right: 0;
    mask-image: url("../../images/icons/stack.svg#catalogs-link-arrow-long");
    background-color: #000000;
    mask-repeat: no-repeat;
    mask-position: -8px;
  }

  &:hover::after {
    animation-name: slidein;
    animation-duration: 1s;
    animation-fill-mode: forwards;
  }

  &:focus-visible::after {
    animation-name: slidein;
    animation-duration: 1s;
    animation-fill-mode: forwards;
  }

  &:active {
    opacity: 0.3;
  }
}

@media (min-width: $tablet-width) {
  .catalogs {
    width: 708px;
    padding: 0 30px;
  }

  .catalogs__item {
    padding: 77px 316px 58px 52px;

    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  .catalogs__text {
    font-size: 16px;
    line-height: 24px;
    margin: 0;
    padding-bottom: 0;
    margin-bottom: 52px;
    border: none;
  }

  .catalogs__link {
    font-size: 20px;
    line-height: normal;
    padding-right: 57px;

    &::after {
      top: 11px;
    }
  }
}

@media (min-width: $tablet-width) and (max-width: 1439px) {
  .catalogs__title {
    font-size: 36px;
    line-height: 36px;
    margin: 0;
    margin-bottom: 24px;
  }

  .catalogs__title--slim {
    &::before {
      left: auto;
      right: 63px;
      width: 200px;
      height: 211px;
      top: 80px;
    }
  }

  .catalogs__title--pro {
    &::before {
      left: auto;
      right: 29px;
      width: 268px;
      height: 200px;
      top: 92px;
    }
  }
}

@media (min-width: $desktop-width) {
  .catalogs {
    width: 1220px;
    padding: 82px 110px 71px;
  }

  .catalogs__list {
    display: flex;
    gap: 80px;
  }

  .catalogs__item {
    width: 570px;
    padding: 77px 61px 55px 52px;

    &:not(:last-child) {
      margin-bottom: 0;
    }
  }

  .catalogs__title {
    font-size: 36px;
    line-height: 36px;
    margin-left: 162px;
    margin-bottom: 73px;
    max-width: 457px;
  }

  .catalogs__title--slim {
    &::before {
      top: 41px;
      left: 52px;
      width: 100px;
      height: 106px;
      }
  }

  .catalogs__title--pro {
    &::before {
      top: 47px;
      left: 33px;
      width: 134px;
      height: 100px;
    }
  }

  .catalogs__text {
    margin-bottom: 27px;
  }
}
