.main-header {

}

.main-header__wrapper {

}

.main-header__link {
  &:focus-visible .main-header__image-logo {
    opacity: 0.8;
  }
}

.main-header__image-logo {
  &:hover {
    opacity: 0.8;
  }

  &:active{
    opacity: 0.6;
  }
}

.main-header__toggle {

}
