.main-header__container {
  width: 100%;
}

.main-header {
  width: 280px;
  padding: 0 20px;
  margin: 0 auto;
  z-index: 2;
  position: relative;
}

.main-header__wrapper {
  min-height: 65px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-header__link {
  text-decoration: none;

  &:focus-visible .main-header__image-logo {
    opacity: 0.8;
  }
}

.main-header__image-logo {
  width: 33px;
  height: 38px;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.main-header__toggle {

}

@media (min-width: $tablet-width) {
  .main-header {
    width: 708px;
    padding: 0 30px;
    display: flex;
    justify-content: space-between;
    min-height: 50px;
    margin-top: 25px;
  }

  .main-header__toggle {
    display: none;
  }

  .main-header__image-logo {
    width: 60px;
    height: 50px;
    margin-right: 13px;
  }
}

@media (min-width: $desktop-width) {
  .main-header__container {
    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 695px;
      background:
        linear-gradient(to left, rgba(104, 183, 56, 0.85) 50%, #ffffff 50%),
        image-set(
          url("../../images/main-header/header-cat@1x.jpg") 1x,
          url("../../images/main-header/header-cat@2x.jpg") 2x
        );
      background-repeat: no-repeat;
      background-color: #4e4d52;
      background-position: right bottom;
    }
  }

  .main-header {
    width: 1220px;
    margin-top: 0;
    padding: 0 110px;
    padding-top: 55px;
    min-height: 59px;
  }

  .main-header__image-logo {
    width: 70px;
    height: 59px;
    margin-right: 14px;
  }
}
