.main-header__container {
  width: 100%;
}

.main-header {
  width: 100%;
  z-index: 2;
  margin: 0 auto;
  position: relative;
}

.main-header__wrapper {
  min-height: 65px;
  display: flex;
  justify-content: space-between;
}

.main-header__link {
  text-decoration: none;
  max-height: 66px;

  &:focus-visible .main-header__image-logo {
    opacity: 0.8;
  }
}

.main-header__image-logo {
  width: 33px;
  height: 38px;
  padding-top: 13px;
  padding-bottom: 15px;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.main-header__toggle {
  border: none;
  background-color: #ffffff;
  margin-top: 23px;
}

.main-header__toggle--nojs {
  visibility: hidden;
}

.main-header__toggle--close {
  width: 24px;
  height: 24px;
  background-image: url("../../images/icons/stack.svg#mobile-burger");
}

.main-header__toggle--open {
  width: 24px;
  height: 18px;
  background-image: url("../../images/icons/stack.svg#mobile-close");
}

@media (max-width: $mobile-only-width) {
  .main-header__wrapper {
    width: 280px;
    padding: 0 20px;
    margin: 0 auto;
  }
}

@media (min-width: $tablet-width) {
  .main-header__container {
    border: none;
  }

  .main-header {
    width: 708px;
    padding: 0 30px;
    display: flex;
    justify-content: space-between;
    min-height: 50px;
  }

  .main-header__image-logo {
    width: 60px;
    height: 50px;
    margin-right: 13px;
    padding-top: 25px;
  }

  .main-header__toggle {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .main-header__container {
    border: none;
  }

  .main-header__container--index {
    &::before {
      content: "";
      position: absolute;
      left: 50%;
      width: 50%;
      height: 690px;
      background:
        linear-gradient(to bottom, rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)),
        image-set(
          url("../../images/main-header/header-cat@1x.jpg") type("image/jpg") 1x,
          url("../../images/main-header/header-cat@2x.jpg") type("image/jpg") 2x
        );
      background-repeat: no-repeat;
      background-color: #4e4d52;
      background-position: right;
    }
  }

  .main-header {
    width: 1220px;
    margin-top: 0;
    padding: 0 110px;
    padding-top: 52px;
    min-height: 59px;
  }

  .main-header__image-logo {
    width: 70px;
    height: 59px;
    margin-right: 14px;
    padding: 0;
  }

  .main-header__link {

  }
}
