.main-page__container {
  width: 100%;
}

.main-page__container--preview {
  background:
    linear-gradient(to bottom, rgba(104, 183, 56, 0.85) 302px, #ffffff 302px),
    image-set(
      url("../../images/main-header/header-mobile-cat@1x.jpg") 1x,
      url("../../images/main-header/header-mobile-cat@2x.jpg") 2x
    );
  background-repeat: no-repeat;
  background-position: center top;
  background-color: #4e4d52;
}

.main-page__container--product-effect {
  background-color: #eaeaea;
}


@media (min-width: $tablet-width) {
  .main-page__container--preview {
    background: #ffffff;
  }

  .main-page__container--product-effect {
    background: linear-gradient(to top, #eaeaea 462px, #ffffff 462px);
  }
}

