.preview {
  width: 280px;
  padding: 0 20px;
  margin: 0 auto;
}

.preview__title {

}

.preview__subtitle {
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  color: #ffffff;
}

.preview__product-image {

}

.preview__link {

}

@media (min-width: $tablet-width) {
  .preview {
    width: 708px;
    padding: 0 30px;
    position: relative;
  }

  .preview__title {
    color: $title-color;
    margin-left: 90px;
    margin-top: 65px;
  }

  .preview__subtitle {
    color: #000000;
    font-size: 20px;
    line-height: 20px;
    margin-left: 90px;
    margin-bottom: 21px;
  }

  .preview__link {
    width: 244px;
    position: absolute;
    z-index: 2;
    top: 230px;
    left: 120px;
  }
}
