.preview {
  background-color: rgba(104, 183, 56, 0.85);
}

.preview__title {

}

.preview__sub-title{
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  color: #ffffff;
}

.preview__product-image {

}

.preview__link {

}
