.product-form {

}

.product-form__fieldset-wrapper {
  margin-bottom: 26px;
}

.product-form__fieldset-container {
  width: 100%;
  position: relative;

  &::before {
    content: "";
    width: 100%;
    height: 2px;
    background-color: #68b738;
    position: absolute;
    top: 16px;
    left: 0;
    z-index: -1;
  }
}

.product-form__fieldset-container--parameters {
  padding: 39px 0 22px;
  border-bottom: 1px solid #d9d9d9;

  &::before {
    display: none;
  }
}

.product-form__fieldset-container--feeding {
  padding: 22px 0 16px;
  border-bottom: 1px solid #d9d9d9;

  &::before {
    display: none;
  }
}

.product-form__fieldset-container--contacts {
  padding-bottom: 24px;
}

.product-form__fieldset-container--comment {
  padding-bottom: 19px;
}

.product-form__fieldset-container--extra {
  padding-bottom: 34px;
}

.product-form__fieldset-container--submit {
  &::before {
    display: none;
  }
}

.product-form__fieldset {
  width: 320px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
  border: none;
}

.product-form__fieldset-title--contacts {
  margin-bottom: 35px;
  max-width: 187px;
}

.product-form__fieldset-title--comment {
  margin-bottom: 38px;
}

.product-form__fieldset-title--extra {
  margin-bottom: 36px;
}

.product-form__label {
  display: flex;
  position: relative;
  align-items: center;
  margin-bottom: 14px;

  &:last-child {
    margin-bottom: 0;
  }
}

.product-form__label--extra {
  margin-bottom: 12px;
}

.product-form__radio {
  appearance: none;
}

.product-form__radio:focus-visible ~ .product-form__label-text--feeding {
  outline: 1px solid #000000;
}

.product-form__radio:disabled + .product-form__custom-radio,
.product-form__radio:disabled + .product-form__custom-radio::after {
  opacity: 0.3;
}

.product-form__radio:disabled ~ .product-form__label-text--feeding {
  opacity: 0.3;
}

.product-form__radio:checked + .product-form__custom-radio::after {
  content: "";
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background-color: #68b738;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.product-form__custom-radio {
  display: block;
  box-sizing: border-box;
  width: 30px;
  height: 30px;
  border: solid 1px #cdcdcd;
  border-radius: 50%;
  position: absolute;
}

.product-form__checkbox {
  appearance: none;
}


.product-form__checkbox:checked + .product-form__custom-checkbox::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 26px;
  height: 26px;
  background-image: url("../../images/icons/stack.svg#checkbox-mobile-tick");
  transform: translate(-50%, -50%);
}

.product-form__checkbox:focus-visible ~ .product-form__label-text--extra,
.product-form__checkbox:focus-visible ~ .product-form__custom-checkbox {
  outline: 1px solid #000000;
}

.product-form__checkbox:disabled ~ .product-form__label-text--extra,
.product-form__checkbox:disabled ~ .product-form__custom-checkbox {
  opacity: 0.3;
}

.product-form__custom-checkbox {
  position: absolute;
  box-sizing: border-box;
  width: 30px;
  height: 30px;
  border: 1px solid #cdcdcd;
}


.product-form__email-image {
  &::after {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: #000000;
    mask-image: url("../../images/icons/stack.svg#email-icon");
    top: 13px;
    right: 12px;
  }
}

.product-form__phone-image {
  &::after {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: #000000;
    mask-image: url("../../images/icons/stack.svg#phone-icon");
    right: 13px;
    top: 13px;
  }
}

.product-form__label--focus {
  &:focus-within::after {
    background-color: #68b738;
  }

  &:focus-within .product-form__control {
    outline: 2px solid #444444;
  }
}

.product-form__label-text {
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  margin-right: 13px;
}

.product-form__label-text--feeding {
  padding-left: 45px;
  padding-top: 6px;
  padding-bottom: 6px;
}

.product-form__label-text--extra {
  padding-left: 45px;
  padding-top: 6px;
  padding-bottom: 6px;
}

.product-form__control {
  font-family: $primary-font;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  border-radius: 0;
  border: 1px solid #cdcdcd;
  flex-grow: 1;
  min-height: 45px;
  padding: 11px 15px;
  box-sizing: border-box;
}

.product-form__label--error {
  & .product-form__control {
    outline: 2px solid #ff8282;
  }

  &::after {
    background-color: #ff8282;
  }
}

.product-form__control--text {

}

.product-form__control--textarea {
  width: 100%;
  min-height: 150px;
  padding: 14px;
}

.product-form__fieldset-title {
  font-size: 24px;
  line-height: 26px;
  color: $title-color;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #ffffff;
  width: fit-content;
  margin-left: -20px;
}

.product-form__button-container {
  width: 320px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}

.product-form__button {
  margin-bottom: 21px;
}

.product-form__text {
  font-family: $secondary-font;
  line-height: 16px;
  color: #000000;
  text-align: center;
  margin: 0;
}

@media (min-width: $tablet-width) {
  .product-form__fieldset-wrapper {
    margin-bottom: 65px;
  }

  .product-form__fieldset {
    width: 768px;
    padding: 0 70px;
  }

  .product-form__fieldset-title {
    font-size: 36px;
    line-height: 36px;
    padding-left: 40px;
    padding-right: 40px;
    margin: -40px;
  }

  .product-form__fieldset-title--contacts {
    max-width: none;
    margin-bottom: 76px;
  }

  .product-form__label-container--feeding {
    padding: 23px 27px 27px;
    border: 1px solid #cdcdcd;
  }

  .product-form__fieldset-title--comment {
    margin-bottom: 87px;
  }

  .product-form__fieldset-container--extra {
    padding-bottom: 55px;
  }

  .product-form__fieldset-title--extra {
    margin-bottom: 59px;
  }

  .product-form__fieldset-container {
    &::before {
      top: 22px;
    }
  }

  .product-form__fieldset-container--parameters {
    padding: 66px 0 72px;
    border: none;
  }

  .product-form__fieldset-container--feeding {
    padding: 0;
    border: none;
  }

  .product-form__fieldset-container--contacts {
    padding-bottom: 65px;
  }

  .product-form__fieldset-container--comment {
    padding-bottom: 62px;
  }

  .product-form__label-container--extra {
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 27px;
    row-gap: 36px;
  }

  .product-form__label {
    margin-bottom: 20px;
  }

  .product-form__label--feeding {
    margin-bottom: 18px;
  }

  .product-form__label--extra {
    margin-bottom: 0;
  }

  .product-form__email-image {
    &::after {
      top: 16px;
      right: 14px;
    }
  }

  .product-form__phone-image {
    &::after {
      top: 16px;
      right: 14px;
    }
  }

  .product-form__radio:checked + .product-form__custom-radio::after {
    width: 18px;
    height: 18px;
  }

  .product-form__custom-radio {
    width: 40px;
    height: 40px;
  }

  .product-form__checkbox:checked + .product-form__custom-checkbox::after {
    width: 26px;
    height: 26px;
    background-image: url("../../images/icons/stack.svg#checkbox-tablet-tick");
  }

  .product-form__custom-checkbox {
    width: 40px;
    height: 40px;
  }


  .product-form__label-text {
    font-size: 20px;
    line-height: 24px;
    margin-right: 14px;
  }

  .product-form__label-text--feeding {
    padding-left: 59px;
  }

  .product-form__label-text--extra {
    padding-left: 60px;
  }

  .product-form__control {
    font-size: 20px;
    line-height: normal;
    padding: 10px 19px;
  }

  .product-form__control--textarea {
    min-height: 175px;
    padding-left: 20px;
  }

  .product-form__button-container {
    width: 768px;
    padding: 0 70px;
    display: flex;
    align-items: center;
  }

  .product-form__button {
    font-size: 20px;
    line-height: 26px;
    min-height: 54px;
    min-width: 284px;
    margin-right: 58px;
  }

  .product-form__text {
    font-size: 16px;
    line-height: 16px;
    max-width: 250px;
    align-self: flex-start;
    margin-top: 16px;
  }
}

@media (min-width: $desktop-width) {
  .product-form {
    width: 100%;
    padding: 0;
  }

  .product-form__fieldset-wrapper {
    display: flex;
    width: 1220px;
    margin: 0 auto;
    padding: 66px 50px 77px;
  }

  .product-form__fieldset {
    padding: 0;
    width: 1220px;
    padding-left: 50px;
    padding-right: 50px;
    margin: 0 auto;
  }

  .product-form__fieldset--parameters {
    width: 100%;
    padding: 0;
    margin: 0;
  }

  .product-form__fieldset--feeding {
    width: 100%;
    padding: 0;
    margin: 0;
  }

  .product-form__fieldset--comment {
    box-sizing: content-box;
  }

  .product-form__fieldset-title {
    font-size: 36px;
    line-height: 36px;
  }

  .product-selection__text {
    font-size: 20px;
    line-height: 30px;
  }

  .product-form__fieldset-container {
    width: 100%;
  }

  .product-form__fieldset-container--parameters {
    width: 570px;
    padding: 0;
    margin-right: 80px;
  }

  .product-form__label--parameters {
    margin-bottom: 20px;
  }

  .product-form__fieldset-container--feeding {
    width: 570px;
    padding: 0;
    margin: 0;
  }

  .product-form__label-container--feeding {
    padding: 25px 28px;
    min-height: 196px;
    box-sizing: border-box;
  }

  .product-form__label--feeding {
    margin-bottom: 18px;
  }

  .product-form__fieldset-container--contacts {
    grid-column: 1 / 3;
    padding: 0;
    padding-bottom: 70px;
  }

  .product-form__fieldset--contacts {
    display: flex;
    gap: 40px 80px;
  }

  .product-form__label--contacts {
    width: 570px;
    margin-bottom: 0;
  }

  .product-form__fieldset-container--comment {
    grid-column: 1 / 3;
    padding-bottom: 70px;
  }

  .product-form__fieldset-title--comment {
    margin-bottom: 78px;
  }

  .product-form__fieldset-container--extra {
    grid-column: 1 / 3;
    padding-bottom: 60px;
  }

  .product-form__fieldset-title--extra {
    margin-bottom: 57px;
  }

  .product-form__label-container--extra {
    grid-template-columns: 245px 245px 245px 245px;
    gap: 80px;
  }

  .product-form__label-text--extra {
    margin-right: 0;
  }

  .product-form__fieldset-container--submit {
    grid-column: 1 / 3;
  }

  .product-form__button-container {
    width: 1220px;
    padding: 0 50px;
    box-sizing: content-box;
  }

  .product-form__button {
    width: 570px;
    margin-right: 80px;
  }

  .product-form__text {
    max-width: 570px;
    margin: 0;
    padding: 5px;
    padding-left: 0;
  }
}
