.product-effect {
  width: 280px;
  padding: 0 20px;
  margin: 0 auto;
}

.product-effect__title {
  line-height: 40px;
}

.product-effect__text {
  font-family: $secondary-font;
}

.product-effect__container {
  display: flex;
  justify-content: space-between;
}

.product-effect__list {

}

.product-effect__item {

}

.product-effect__quantity {
  font-size: 24px;
  line-height: 24px;
  color: #000000;
}

.product-effect__description {
  font-size: 12px;
  line-height: 12px;
  font-family: $secondary-font;
}

.product-effect__value {
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  color: #000000;
}

.product-effect__button-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
}

.product-effect__button {
  background-color: transparent;
  color: #666666;
  padding: 0;
  border: none;
  position: absolute;
  height: 100%;
  top: 50%;
  left: 50%;
  z-index: 2;
  transform: translate(-50%, -50%);
  transition: 0.5s;

  &::after {
    content: "";
    position: absolute;
    width: 4px;
    height: 100%;
    border-radius: 2px;
    background-color: #666666;
    top: 0;
    left: 50%;
    transform: translate(-50%);
    z-index: -1;
    transition: 0.5s;
  }

  &:hover::after {
    background-color: #68b738;
  }

  &:hover {
    color: #68b738;
    cursor: pointer;
  }

  &:focus-visible {
    color: #68b738;
  }

  &:focus-visible::after {
    background-color: #68b738;
  }

  &:active::after {
    background-color: #5eaa2f;
  }

  &:active {
    color: #5eaa2f;
    opacity: 0.6;
  }
}

.product-effect__image-svg {

}

.product-effect__image-before {

}

.product-effect__image-after {
  position: absolute;
  z-index: 1;
  overflow: hidden;
  top: 0;
  left: 50%;
  transform: translate(-50%);
  object-fit: cover;
}

@media (min-width: $tablet-width) {
  .product-effect {
    width: 708px;
    padding: 0 30px;
    padding-top: 45px;
    padding-bottom: 101px;
  }

  .product-effect__title {
    margin-top: 0;
    margin-bottom: 60px;
    line-height: 60px;
  }

  .product-effect__text {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 55px;
  }

  .product-effect__container {
    margin-bottom: 99px;
  }

  .product-effect__list {
    display: flex;
  }

  .product-effect__value {
    font-size: 20px;
  }

}
