.product-card {

}

.product-card__link {
  text-decoration: none;
}

.product-card__title {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #222222;
  font-weight: 400;
}

.product-card__item-name {
  font-family: $secondary-font;
  font-size: 12px;
  line-height: 16px;
}

.product-card__item-value {
  font-family: $secondary-font;
  font-size: 12px;
  line-height: 16px;
}

.product-card__button {
  text-decoration: none;
}
