.product-card {
  padding-top: 20px;
  padding-bottom: 25px;
  border-top: 1px solid #ebebeb;
}


.product-card__card-container{
  width: 280px;
  padding: 0 20px;
  margin: 0 auto;
}

.product-card__info-container {
  display: flex;
}

.product-card__link {
  text-decoration: none;
  width: 140px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-card__title {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #222222;
  font-weight: 400;
}

.product-card__item-name {
  font-family: $secondary-font;
  font-size: 12px;
  line-height: 16px;
}

.product-card__item-value {
  font-family: $secondary-font;
  font-size: 12px;
  line-height: 16px;
}

.product-card__button {
  text-decoration: none;
}
