.product-effect {
  background-color: #eaeaea;
}

.product-effect__title {
  line-height: 40px;
}

.product-effect__text {
  font-family: $secondary-font;
}

.product-effect__list {

}

.product-effect__item {

}

.product-effect__quantity {
  font-size: 24px;
  line-height: 24px;
  color: #000000;
}

.product-effect__description {
  font-size: 12px;
  line-height: 12px;
  font-family: $secondary-font;
}

.product-effect__value {
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  color: #000000;
}

.product-effect__button {

}

.product-effect__image-before {

}

.product-effect__image-after {

}
