.product-more {

}

.product-more__title {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  font-weight: 400;
  color: #111111;
}

.product-more__subtitle {
  font-family: $secondary-font;
  font-size: 12px;
  line-height: 16px;
}

.product-more__link {
  text-decoration: none;
}
