.social {
  @include list-style-none;
  display: flex;
  gap: 24px;
  justify-content: center;
}

.social__item {

}

.social__link {
  &:focus-visible .social__image {
    color: #68b738;
  }
}

.social__image {
  color: #666666;

  &:hover {
    color: #68b738;
  }

  &:active {
    opacity: 0.3;
  }
}
