.title {
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  color: $title-color;
}

.title--white {
  color: #ffffff;
}

@media (min-width: $tablet-width) {
  .title {
    font-size: 60px;
    line-height: 60px;
  }
}
